{:paths   ["src/main" "resources"]

 :deps    {org.clojure/clojure    {:mvn/version "1.10.1"}
           com.taoensso/timbre    {:mvn/version "4.10.0"}
           com.wsscode/pathom     {:mvn/version "2.2.31"}

           re-frame               {:mvn/version "0.12.0"}
           com.fulcrologic/fulcro {:mvn/version "3.2.4"}

           hiccup                 {:mvn/version "1.0.5"}
           http-kit               {:mvn/version "2.3.0"}
           mount                  {:mvn/version "0.1.12"}
           org.clojure/core.async {:mvn/version "0.4.500"}

           ;; To simulate Datomic on the back-end
           datascript             {:mvn/version "0.18.4"}

           ring/ring-core         {:mvn/version "1.7.1"}
           ring/ring-defaults     {:mvn/version "0.3.2"}}

 :aliases {:dev {:extra-paths ["src/test" "src/dev"]
                 :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
                 :extra-deps  {org.clojure/clojurescript   {:mvn/version "1.10.520"}
                               thheller/shadow-cljs        {:mvn/version "2.8.58"}
                               binaryage/devtools          {:mvn/version "0.9.10"}
                               org.clojure/tools.namespace {:mvn/version "0.3.1"}}}}}
